boto==2.48.0
bz2file==0.98
certifi==2022.12.7
chardet==3.0.4
gensim==3.1.0
idna==2.6
mathviz-hopper==0.2
mathviz-hopper-dev==0.2.2
nose==1.3.7
numpy==1.13.3
pandas==0.21.0
pkginfo==1.4.1
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
requests-toolbelt==0.8.0
scipy==1.0.0
six==1.11.0
smart-open==1.5.3
tqdm==4.19.4
twine==1.9.1
urllib3==1.22
